<h2>Link Name</h2>
<form action="/tasks" method="POST">
      <input type="text" name="name" placeholder="Place link name here">
      <input type="text" name="url" placeholder="Place url here">
      <input type="submit">
</form>
