
	<div class="content">
		<h3>Build a work-ready skill set and fluency in full stack web development</h3>
		<ul>
			<li>Develop a portfolio of projects individually and in small teams that are ready to present to employers</li>
			<li>Prepare for an internship or entry-level job as a jr. web developer</li>
		</ul>
	</div>
</div>