
	<div class="content">
		<p>Please fill in your details for more information: </p>
		<form action="/thank_you" method="POST">
			<p>			
				<label for="name">Name</label>
			    <input type="text" name="name" id="name">
			  </p>
			  <p>
			    <label for="email_address">Email Address</label>
			    <input type="text" name="email_address" id="email_address">
			  </p>
			  <p>  
			    <label for="subject">Subject</label>
			    <input type="text" name="subject" id="subject">
			  </p>
  		<input type="submit">
		</form>
	</div>
