<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Students Class</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<header>

		<h1 id="title">General Assembly</h1>
		<h2 id="intro-sentence">This is a page for potential students</h2>

	</header>
		<nav>
			<ul class="navigation">
				<li><a href="/"><img src="/ga-logo.png" id="ga-logo"/></a></li>
				<li><a href="/students/barney">Barney</a></li>
				<li><a href="/students/nelson">Nelson</a></li>
				<li><a href="/students/random">Random</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	<%= yield %>
	<footer>
		<ul class="footer">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		<p>This whole website is copyrighted</p>
</body>
</html>

