
	<div class="content">
		<img src="<%= @image %>"/>
		<h2>Name</h2>
			<ul>	
				<li><%= @student %></li>
			</ul>	
		<h2>Work History</h2>
			<ul>	
				<li><%= @work %></li>
			</ul>
		<h2>Education</h2>
			<ul>	
				<li><%= @education %></li>
			</ul>				
	</div>
</div>	