<!DOCTYPE html>
<html>
  <head>
    <title>Freddy's Blog Management</title>
  </head>
  <body>
    <h1>Freddy's Blog Management</h1>
    <p>
      <a href="/">Posts</a> | <a href="/authors">Authors</a>
    </p>

    <%= yield %>
  </body>
</html>
