<form action="/authors" method="POST">
  <p>
    <label for="first_name">First Name</label><br>
    <input type="text" name="first_name" id="first_name">
  </p>
  <p>
    <label for="last_name">Last Name</label><br>
    <input type="text" name="last_name" id="last_name">
  </p>
  <p>
    <label for="bio">Bio</label><br>
    <input type="text" name="bio" id="bio">
  </p>
  <p>
    <label for="twitter">Twitter</label><br>
    <input type="text" name="twitter" id="twitter">
  </p>
  <p>
    <label for="website">Website</label><br>
    <input type="text" name="website" id="website">
  </p>
  <p>
    <label for="google_plus">Google Plus</label><br>
    <input type="text" name="google_plus" id="google_plus">
  </p>
  <p>
    <input type="submit" value="Create Author">
  </p>
</form>

